#searchmovies{
    width:100%;
}

#searchmovies .search{
    width:100%;
    background-color: #f0f3f5;
    margin-bottom:30px;
    padding-top:20px;
    padding-bottom:20px;
}

#searchmovies .search .searchfield{
    display:flex;
    justify-content: center;
}

#searchmovies .search .searchfield #inp-query{
    border:none;
    background:white;
    padding-left:10px;
}

#searchmovies .search .searchfield>div>input:nth-child(2){
    background:rgb(210,210,210);
}