<div id="movies">
    <div *ngFor="let item of allmovies" class="onemovie">
        <div class="row">
            <div class="col-md-4">
                <img [src]="item.image">
            </div>
            <div class="col-md-8">
                <h2 [routerLink]="['/unfilm', item._id]" class="mb-2">{{item.title}}</h2>
                <div class="mb-3">{{item.last}} minutes</div>
                <div class="mb-3">{{item.starring}}</div>
                <div class="mb-3">{{item.plot|slice:0:100}}...</div>
            </div>
        </div>
    </div>
</div>
